<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title" style="padding: 5px 5px 15px 5px ; ">Add device to ZigBe Network</h4>
                </div>
                <button class="btn" style="width:200px; margin: 2px 2px 20px 20px;" (click)="openModal(template)">
                    <i class="ti-rss-alt" style="padding:5px;"></i>&nbsp;Add device</button>
                <a>
                    <ng-template #template>
                        <div class="modal-header" style="margin:10px;">
                            <h4 class="modal-title pull-left" style="margin:-18px 2px;">Add device to ZigBee Network</h4>
                            <button style="margin:-18px -1px;" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-8" style="text-align:center;">
                                        <div [hidden]="b">
                                            <a> Push button on device to join network</a>
                                            <br>

                                            <div class="loader" style="padding: 5px 5px 5px 5px;"></div>
                                            <br>
                                            <br>
                                        </div>
                                        <div *ngIf="status">
                                        
                                            <form>
                                                <a> Found device. please set name.</a>
                                                <div class="col-lg-12" style="margin:20px;">
                                                    <div class="col-lg-4" >
                                                            <button class="btn" style="margin:2px;" (click)="identify();" type="submit">IDENTIFY</button>
                                                    </div>
                                                    <div class="col-lg-6" >
                                                            <input class="inputlogin"    placeholder="Device Name" pattern="[A-Za-z0-9]{1,15}" required #devicename>
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-lg-12" style="text-align:center;">
                                                    <button class="btn" (click)="sendname(devicename.value);" style="width: 225px ;margin: 5px;" type="submit">Accept</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title" style="padding: 5px 5px 15px 5px ; ">My ZigBee Network</h4>
                    <table style="width:100% ; ">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>IEEE</th>
                            <th>Command</th>
                        </tr>
                        <tr *ngFor="let a of table">
                            <th>{{a.NAME}}</th>
                            <th >{{a.SHORT_ADDR}}</th>
                            <input #addr [hidden]="true" type="text" value="{{a.SHORT_ADDR}}">
                            <th>{{a.IEEE_ADDR}}</th>
                            <input #ieee [hidden]="true" type="text" value="{{a.IEEE_ADDR}}">

                            <th>
                                <button class="btn" (click)="identifyd(addr.value);" type="submit">IDENTIFY</button>
                                <button class="btn" (click)="openModal3(template3);" type="submit">REMOVE</button>
                                <button class="btn" (click)="openModal2(template2)" type="submit">
                                    <i class="ti-pencil"></i>&nbsp;Edit</button>
                                <ng-template #template2>
                                    <div class="modal-header" style="margin:10px;">
                                        <h4 class="modal-title pull-left" style="margin:-18px 2px;">Add device to ZigBee Network</h4>
                                        <button style="margin:-18px -1px;" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-6" style="text-align:center;">

                                                    <div>
                                                        <form>
                                                            <a> Edit device in network</a>
                                                            <input class="inputlogin" placeholder="Device Name" pattern="[A-Za-z0-9]{1,15}" required value="{{a.NAME}}" #devicename>
                                                            <div class="col-lg-12" style="text-align:center;">
                                                                <button class="btn" (click)="editname(devicename.value,ieee.value,addr.value);" style="width: 225px ;margin: 5px;" type="submit">Accept</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #template3>
                                        <div class="modal-header" style="margin:10px;">
                                            <h4 class="modal-title pull-left" style="margin:-18px 2px;">Delete device in ZigBee Network</h4>
                                            <button style="margin:-18px -1px;" type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-3"></div>
                                                    <div class="col-lg-6" style="text-align:center;">
    
                                                        <div>
                                                            <form>
                                                                <a>Are you sure to remove this device ?</a>
                                                                
                                                                <div class="col-lg-12" style="text-align:center;">
                                                                    <button class="btn" (click)="delete(ieee.value);" style="width: 225px ;margin: 5px;" type="submit">OK</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>